* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
  margin: 0;
  background-image: url("https://wallpapers.com/images/hd/sky-blue-background-cfnm9kv06qfivmp3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  justify-content: center;
  line-height: 4rem;
  padding-inline: 2rem;
  color: rgb(201, 137, 221);
  font-weight: bold;
  padding-top: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  text-align: center;
  font-weight: bold;
  padding-inline: 10rem;
  padding-block: 0.2rem;
  border-color: rgb(126, 40, 126);
  ;
  border-radius: 50px;
  background-color: white;
  color: rgb(194, 98, 197);
}

.main {
  width: 100dvw;
  padding: 3rem;
}

.countryList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  list-style: none;
  padding-top: 3rem;
  gap: 1.5rem;
}

.country {
  width: 20dvw;
  border: solid 0.3rem rgb(126, 40, 126);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.country img {
  width: 100;
  max-width: 10rem;
  height: 5rem;
  object-fit: contain;
  padding-bottom: 0.5rem;
}

.country p {
  text-align: center;
  color: rgb(194, 98, 197);
  font-size: 1.3rem;
  font-weight: bold;
}