* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #555;
  color: #fff;
}

.header {
  border-bottom: solid 5px darkcyan;

  .title {
    line-height: 4rem;
    padding-inline: 2rem;
  }
}

.main {
  padding: 2rem;
}
